.navbar__container {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px;
}

.navbar__container h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  font-family: "Pacifico", sans-serif;
}

.navbar__container .violet {
  color: #635bff;
}

.navbar__links {
  display: flex;
}

.mobileNavbar__links ul {
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.navbar__links ul {
  display: flex;
  height: 100%;
}

.navbar__links li,
.mobileNavbar__links li {
  font-weight: 500;
  font-size: 1rem;
  position: relative;
}

.mobileNavbar__links li:first-of-type {
  margin-top: 10px;
}

.mobileNavbar__links li {
  margin-bottom: 20px;
}

.navbar__links a:visited,
.navbar__links a,
.mobileNavbar__links a:visited,
.mobileNavbar__links a {
  color: #333;
  padding: 8px;
  transition: color 200ms;
}

.navbar__links a:hover,
.mobileNavbar__links a:hover {
  color: #635bff;
}

.navbar__links .outline:visited,
.navbar__links .outline {
  color: #635bff;
  border: 1px solid #635bff;
  border-radius: 10px;
}

.navbar__links .outline:hover {
  color: #fff;
  background-color: #635bff;
  border-radius: 5px;
  transition: all 400ms;
}

.navbar__links li:not(:last-child) {
  margin-right: 50px;
}

.mobileNavbar__links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  width: 100%;
}

.navbar__links li::after,
.navbar__links li::before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

.navbar__links li::after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.navbar__links li::before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.navbar__links li:not(:last-child):hover::before,
.navbar__links li:not(:last-child):hover::after {
  width: 10px;
  height: 10px;
  border-color: #635bff;
}
