.about__container {
  display: flex;
  height: calc(100vh - 60px);
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

.about__text h1 {
  color: #333;
  font-size: 1.7rem;
  font-weight: 800;
  margin-bottom: 40px;
}

.about__text {
  width: 50%;
  text-align: center;
}

.about__text a {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  margin-right: 40px;
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 10px;
  background: rgb(111, 167, 216);
  color: white;
}

.about__text a:hover {
  background: rgb(122, 183, 236);
}

.about__svg {
  width: 50%;
  text-align: center;
}

.about__svg img {
  width: 100%;
  max-width: 600px;
  height: auto;
  min-width: 400px;
}
