.contact__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 10rem 0;
}

.contact__container h1 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.contact__form {
  display: inline-block;
  border-radius: 8px;
  max-width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 30px 30px 10px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
}

input,
textarea {
  outline: none;
  background: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  margin: 10px auto;
}
input::placeholder,
textarea::placeholder {
  color: rgb(139, 139, 139);
}
input,
.contact__emailContent,
textarea {
  width: 100%;
}
input {
  height: 50px;
}
.contact__emailContent {
  position: relative;
}

#not-email {
  display: none;
  position: absolute;
  top: 20%;
  color: #ff4d4d;
  right: 5px;
  transform-origin: 50% 50%;
}
@keyframes dongle {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-5px, 0px);
  }
  40% {
    transform: translate(5px, 0px);
  }
  60% {
    transform: translate(-5px, 0px);
  }
  80% {
    transform: translate(5px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
textarea {
  resize: none;
  padding: 12px 0;
  min-height: 150px;
}
.contact__button {
  border: none;
  cursor: pointer;
  transition: 0.2s;
  display: inline-block;
  color: #fff;
  background-color: #635bff;
  border-radius: 15px;
  padding: 8px;
  transition: all 400ms;
}

.error::placeholder {
  color: #ff4d4d;
}
.contact__formMessage {
  margin-top: 10px;
  padding: 12px;
  opacity: 0;
  transition: 0.2s ease;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
}

.contact__info {
  align-self: flex-start;
}
