.main__container {
  display: flex;
  height: calc(100vh - 60px);
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

.main__text {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.main__text h1 {
  color: #333;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

.main__actions a:first-of-type {
  cursor: pointer;
  color: #fff;
  background: #635bff;
  border: 1px solid #333;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 2rem;
  transition: all 200ms;
}

.main__actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.main__actions a:first-of-type:hover {
  color: #635bff;
  background: #fff;
  border: 1px solid #635bff;
}

.particles {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main__actions a:not(:first-of-type) {
  height: 47px;
  width: 47px;
}

.main__svg {
  width: 100%;
  max-width: 700px;
  height: auto;
  min-width: 300px;
}

/* Mobile */

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .main__text h1 {
    font-size: 2rem;
  }
  .main__container {
    padding: 2rem;
  }

  .main__actions a:first-of-type {
    font-size: 1.2rem;
  }

  .main__actions a:not(:first-of-type) {
    height: 35px;
    width: 35px;
  }
}

@media screen and (max-width: 799px) {
  .main__container {
    flex-direction: column;
  }

  .main__container {
    padding: 2rem;
    justify-content: flex-start;
  }

  .main__text h1 {
    font-size: 2.2rem;
  }

  .main__actions a:first-of-type {
    font-size: 1.2rem;
  }

  .main__actions a:not(:first-of-type) {
    height: 35px;
    width: 35px;
  }
}

@media screen and (max-width: 400px) {
  .main__text h1 {
    font-size: 1.5em;
  }

  .main__container {
    padding: 1rem;
  }
}
