.main__container {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

.main__text {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.main__text h1 {
  color: #333;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  /* font-family: "Press Start 2P", cursive; */
}

.main__actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.main__actions a:first-of-type {
  cursor: pointer;
  color: #fff;
  background: #635bff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 8px;
  font-size: 2rem;
  transition: all 200ms;
}

.main__actions a:first-of-type:hover {
  color: #635bff;
  background: #fff;
  border: 1px solid #635bff;
}

.main__actions a:not(:first-of-type) {
  border-radius: 100%;
  text-align: center;
  border: 1px solid #333;
  height: 47px;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms;
}

.main__actions a:not(:first-of-type):hover {
  background: #635bff;
  border: 1px solid #333;
}

.main__svg {
  margin: auto;
  min-height: 300px;
}
