.services__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3rem 10rem 0;
  background: url(../../assets/scene.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__container > h1 {
  width: 100%;
  font-size: 3rem !important;
  font-family: "Pacifico", sans-serif;
  text-align: center;
  margin-bottom: 2rem;
}

.services__container > div > h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
}

.stepCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  border-radius: 3px;
  transition: all 400ms;
  background: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  padding: 1rem;
}
.stepCard h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 7px;
}

.stepCard p {
  font-size: 1.1rem;
}

.services__container .card__container:first-of-type:hover {
  box-shadow: #b372fda6 0px 4px 12px -1px, #b372fda6 0px 2px 12px -1px;
}

.services__container .card__container:not(:first-of-type):hover {
  box-shadow: #ffca6fa6 0px 4px 12px -1px, #ffca6fa6 0px 2px 12px -1px;
}
